.wrapper {
  position: relative;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -19px;
}

.tab-group {
  height: calc(100% - 50px);
}

.tab-content {
  padding-top: 20px;
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix textarea {
  height: 300px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
