@import '../../../styles/styles.scss';

.rounded {
  counter-reset: li;
  list-style: none;
  padding: 0 0 0 20px;
}

.rounded li {
  position: relative;
  cursor: pointer;

  &:last-child {
    margin-bottom: 30px;
  }
}

.rounded a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: $beige;
  color: $gray;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}

.rounded a:hover {
  background: $light-beige;
}

.rounded a:hover:before {
  transform: rotate(360deg);
}

.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: $light-blue;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid $white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.p-left {
  padding-left: 60px !important;
}

.checkbox {
  position: absolute;
  top: 6px;
  left: 25px;
  z-index: 1;
  cursor: pointer;
}
